.App {
    /* text-align: center; */
}

.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 140px;
}

.App-header {
    background-color: white;
    height: 150px;
    padding: 20px;
    text-align: center;
}

.page-title {
    font-size: 1.5em;
    color: black;
}

.App-intro {
    font-size: large;
}

/* 
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
} */