.breadcrumbstooltip-container {
    position: relative;
    display: inline-block;
}
  
.breadcrumbstooltip-box {
    position: absolute;
    bottom: -26px;
    padding: 3px;
    color: dimgray;
    background-color: #e2edf7;
    border-radius: 5px;
    border: 1px solid #ababac;
    font-size: 15px;
    white-space: nowrap;
    z-index: 1000;
}
  