.react-horizontal-scrolling-menu--inner-wrapper {
  position: relative;
}

.react-horizontal-scrolling-menu--arrow-left {
  position: absolute;
  left: 0;
  z-index: 1;
  height: 100%;
}

.react-horizontal-scrolling-menu--arrow-right {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 100%;
}

/* Set red background for PhotoSwipe navigation buttons */
.pswp__button--arrow--prev {
  background: white !important;
  border: 3px solid black !important;
  position: absolute !important;
  top: 54% !important;
  height: 55px !important;
  width: 55px !important;
  left: 15px !important;

  cursor: pointer !important;
  border-radius: 15px !important;
  position: relative;
}

.pswp__button--arrow--next {
  background: white !important;
  border: 3px solid black !important;
  position: absolute !important;
  top: 54% !important;
  right: 15px !important;
  height: 55px !important;
  width: 55px !important;

  cursor: pointer !important;
  border-radius: 15px !important;
  position: relative;
}

/* Optional: Change the arrow color */
.pswp__button--arrow--prev svg {
  fill: black;
  /* Arrow color */
  width: 45px !important;
  /* Arrow size */
  height: 45px !important;
  position: absolute !important;
  left: 65% !important;
  top: 112% !important;
  transform: translate(-50%, -50%) !important;
}

.pswp__button--arrow--next svg {
  fill: black;
  /* Arrow color */
  width: 45px !important;
  /* Arrow size */
  height: 45px !important;
  position: absolute !important;
  left: -8% !important;
  top: 65% !important;
}
