node_modules

## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
types/
lib/

# Testing config files
.runtimeconfig.json

./firebase-debug.log
*.log

!webpack.config.js
dist

# Emulator data
data/emulated
data/exported
data/seed/*
!data/seed/.gitkeep
!data/seed/seed-default.zip