containerization
*node_modules*
dump
build
functions
extensions
.circleci
.github
.husky
.nxs
docs
packages/cypress
packages/documentation
packages/security-rules
packages/simulated-webhook-receiver
scripts