{
  "extends": [
    "plugin:security/recommended"
  ],
  "rules": {
    "no-unexpected-multiline": "off"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "security"
  ]
}
