# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/coverage

functions/service.json
functions/backup.json

# production
/build
/lib

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.firebase-debug.log
firebase-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.firebase/
*.log

# IntelliJ
/.idea
functions/firebase-debug.log
.env-*

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

*.tsbuildinfo

.next