language: node_js
node_js:
  - "8"
dist: trusty
sudo: false
cache:
  directories:
    - node_modules
addons:
  chrome: stable
before_script:
  - npm install -g firebase-tools
script:
  - firebase use default
  - npm run build
deploy:
  skip_cleanup: true
  provider: firebase
  token: $FIREBASE_TOKEN
  message: "Firebase deploy success"
  project: "precious-plastics-v4-dev"
  on:
    branch: dev
