rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function userIntegrationsRead() {
      // User integrations may only be read if the data pertains to the authenticated user.
      return request.auth.uid == resource.id
    }

    function userIntegrationsWrite() {
      // User integrations may only be writen to if the updated resource pertains to the authenticated user.
      return request.auth.uid == request.resource.id
    }

    match /v3_users/{userId} {
      allow delete: if request.auth != null && request.auth.uid == userId;
    }

    match /{collectionId}/{document=**} {
      allow get: if collectionId != 'user_integrations' || userIntegrationsRead()
      // Do not allow users to list all user integrations.
      allow list: if collectionId != 'user_integrations'
      allow write: if collectionId != 'emails' && (collectionId != 'user_integrations' || userIntegrationsWrite())
    }
  }
}