app = 'community-platform-pk'
primary_region = 'ams'

[build]

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = 'off'
processes = ['app']

[env]
VITE_BRANCH = "production"

[[vm]]
memory = '1gb'
cpu_kind = 'shared'
cpus = 2
