.tags-container {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.tag__container {
  margin: 5px;
  display: inline-block;
}

.tag__button {
  width: 140px;
}

button.tag__button {
  border-radius: 0;
}

button.tag__button--selected {
  background-color: #4a4a4a;
  color: white;
}

button.tag__button--selected:hover {
  background-color: #4a4a4a;
  color: white;
}