@font-face {
  font-family: 'Varela Round';
  src: url('./VarelaRound-Regular.eot');
  src: url('./VarelaRound-Regular.woff') format('woff'),
    url('./VarelaRound-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Regular.otf');
  src: url('./Inter-Regular.woff') format('woff'),
    url('./Inter-Regular.woff2') format('woff2'),
    url('./Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Medium.otf');
  src: url('./Inter-Medium.woff') format('woff'),
    url('./Inter-Medium.woff2') format('woff2'),
    url('./Inter-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
