.markercluster-map .leaflet-popup-content {
  margin: 0;
  font-family: 'Varela Round', 'Inter', Helvetica Neue, Arial, sans-serif;
  z-index: 99991;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 230px;
}

.markercluster-map .leaflet-popup-content p {
  margin: 0;
}

.markercluster-map .leaflet-popup-content-wrapper {
  border-radius: 5px;
  box-shadow: 0px 0px 2px grey;
  padding: 0;
}

.markercluster-map .leaflet-popup-tip-container .leaflet-popup-tip {
  box-shadow: 0px 0px 2px grey;
}

.leaflet-popup-tip-container {
  display: none;
}
