.icon-cluster-many {
  line-height: 36px;
  text-align: center;
  font-size: 13px;
  color: white;
  position: relative;
}

.icon-cluster-text {
  position: absolute;

  width: 100%;
  left: 0;

  color: #000;
  font-size: 24px;
  font-family: 'Varela Round';
  line-height: 36px;
  text-align: center;
}

.icon-cluster-place {
  line-height: 36px;
  text-align: center;
  font-size: 13px;
  color: white;
}

.icon-cluster-individual {
  line-height: 36px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  color: white;
}

.icon-marker-place {
  line-height: 26px;
  text-align: center;
  color: white;
  padding-left: 1px;
}

.icon-marker-individual {
  border-radius: 50%;
  line-height: 26px;
  text-align: center;
  color: white;
  padding-left: 1px;
}
