.create-tutorial__button {
  cursor: pointer;
  width: 300px;
  height: 50px;
  margin: 40px auto;
  text-decoration: none;
  background-color: #b6d8e6;
  border: none;
  display: block;
  text-align: center;

  img {
    vertical-align: text-top;
    width: 20px;
  }

  span {
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 50px;
    color: black;
    margin-left: 10px;
  }

  &:hover {
    opacity: 0.8;
  }
}

.tutorial-list__card {
  border-radius: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
