#HomePage {
  height: 100vh;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

$colorSecondary: "yellow";
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  opacity: 0.95;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  background-image: url("../../assets/images/one-army-dev-background.jpg");
  height: 100%;
}

.login-modal {
  max-width: 500px;
  margin: auto;
}

.login-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}
