{{#> layout}}

<p>Hey {{user.displayName}},</p>

<p>
  Your project, <a href="{{site.url}}/how-to/{{howto.slug}}">{{howto.title}}</a>,
  needs more work before we can publish it.
</p>

{{#if howto.moderatorFeedback}}
<p>Please review the following & re-submit your project:</p>
<b>{{howto.moderatorFeedback}}</b>
{{/if}}

<p>
  Check the
  <a href="https://community.preciousplastic.com/academy/create/howto">
    guidelines</a
  >
  to review our requirements. Until you update your information, your project
  will remain hidden from the community platform. We hope to see your edits
  soon, so we can get it online as soon as possible. 🙂
</p>

<p>We look forward to hearing back from you.</p>

{{/layout}}
