{{#> layout}}

<p>Hey {{user.displayName}},</p>

<p>Thank you for applying to be on the Precious Plastic Map.</p>
<p>
  Based on the content provided in your profile, we were not able to see that:
  <ol>
    <li>Your work is related to recycling plastic, and/or</li>
    <li>You work on small-scale recycling</li>
  </ol>
  Check the <a href="https://drive.google.com/file/d/1fXTtBbzgCO0EL6G9__aixwqc-Euqgqnd/view">profile guidelines</a>, and make sure the 2 points above are clear. If we have misunderstood, complete your profile and re-submit your request :) 
</p>

<p>
  We hope to see your edits soon.
</p>

{{/layout}}
