{{#> layout}}

<p>Hey {{user.displayName}},</p>

<p>We're really happy to see you on the Precious Plastic Map 👐</p>

<p>Your profile needs more work before we can publish your map pin.</p>

{{#if mapPin.comments}}
<p>Please review the following & re-submit your map pin:</p>
<b>{{mapPin.comments}}</b>
{{/if}}

<p>
  Check out the
  <a
    href="https://community.preciousplastic.com/academy/guides/platform"
    >profile guidelines</a
  >
  to review our requirements.
</p>

<p>
  Until you update your information, your pin will remain hidden from the map.
  We hope to see your edits soon, so we can get your project online as soon as
  possible :)
</p>

{{/layout}}
