.markercluster-map .leaflet-popup-content {
  margin: 0;
  z-index: 99991;
}

.markercluster-map .leaflet-popup-content p {
  margin: 0;
}

.markercluster-map .leaflet-popup-content-wrapper {
  background: none;

  border-radius: 0;
  box-shadow: none;
  padding: 0;
}

.markercluster-map .leaflet-popup-tip-container .leaflet-popup-tip {
  box-shadow: 0px 0px 2px grey;
}

.leaflet-popup-tip-container {
  display: none;
}
