/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) ' ';

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  font-family: Inter, sans-serif;
  background: none;
  resize: none;
  padding: 15px;
  word-wrap: anywhere;
  border-color: transparent;
  font-size: 16px;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
.grow-wrap > textarea:focus {
  border-color: transparent;
}

.grow-wrap.value-set > textarea,
.grow-wrap.value-set::after {
  /* Identical styling required!! */
  padding-bottom: 27px !important;
}

/* Mobile: match 40px button height */
@media (max-width: 768px) {
  .grow-wrap > textarea,
  .grow-wrap::after {
    font-size: 12px;
    padding: 11px;
  }
}
