/* CSS Hacks to customize @khanacademy/react-multi-select styling */

.multi-select {
  width: 100%;
  max-width: 307px;
  margin-top: 5px;
  border-width: 2px !important;
  border-color: #1b1b1b  !important;
  border-style: solid !important;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  color: #1b1b1b;
  user-select: none !important;
}

.multi-select .dropdown .dropdown-heading {
  height: 40px !important;
}

.multi-select .dropdown .dropdown-heading .dropdown-heading-value {
  line-height: 42px !important;
}
.multi-select .dropdown .dropdown-heading {
  border-style: unset !important;
  border-color: black transparent transparent !important;
}

.multi-select .dropdown .dropdown-heading .dropdown-heading-dropdown-arrow span {
  border: none !important;
  height: 10px !important;
  width: 10px !important;
  display: block !important;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14.78 12.9'><g id='Calque_1' data-name='Calque 1'><path d='M12.61,5.23C11.2,6.48,9.81,7.75,8.4,9q-.35-3.9-.32-7.81a1.25,1.25,0,0,0-2.5,0q0,3.81.3,7.61C4.59,7.7,3.32,6.54,2.13,5.31S-.76,5.92.36,7.07a61.87,61.87,0,0,0,6.06,5.5,1.35,1.35,0,0,0,.53.25,1.2,1.2,0,0,0,1.24-.25c2.07-1.85,4.12-3.73,6.19-5.57C15.58,5.92,13.81,4.16,12.61,5.23Z'/></g></svg>") no-repeat !important; 

  /* Fixes jumping of arrow- presumably auto-set by the Multiselect component */
  top: 0px !important; 
}

.multi-select .dropdown-content{
  border-width: 2px !important;
  border-color: #1b1b1b  !important;
  border-style: solid !important;
  margin-top: 10px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  border-radius: 4px !important;
}

.multi-select  {
  cursor: pointer !important;
}

.multi-select * {
  cursor: pointer !important;
}

.multi-select .dropdown .dropdown-heading span.dropdown-heading-value span{
  color: black !important;
}

.multi-select .dropdown .dropdown-heading span.dropdown-heading-value:hover{
  border-width: 1px !important;
  border-color: rgb(131, 206, 235)  !important;
  border-style: solid !important;
} 