#EventsMenu {
  width: 300px;
  // margin: 20px;
  .container {
    padding: 20px 40px;
  }
  .form-control {
    width: 100%;
    margin-bottom: 10px;
    background: white;
    padding: 0 10px;
  }
  // *** NOTE should be replaced with standard typography
  .sub-heading {
    margin: 1em;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
  button.event-type {
    text-transform: unset;
    padding: 0 10px;
    background: white;
    margin: 0 10px 10px 0;
  }
  // *** NOTE should be replaced by standard buttons
  button.active {
    background: rgb(55, 63, 95);
    color: white;
  }
  button.clear-filters {
    margin-top: 2em;
    font-size: small;
    text-decoration: underline;
  }
}
