.create-tutorial-form__container {
  width: 75%;
  position: relative;
  margin: 0 auto;

  .create-tutorial-form {
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }

  input {
    height: 2em;
    line-height: 2em;
    width: 100%;
    padding: 5px;
  }

  textarea {
    height: 6em;
    width: 100%;
  }

  .create-tutorial__label {
    color: #656565;
    font-size: 1.3em;
    margin: 10px 0;

    &.label__margin {
      margin: 50px 0 10px;
    }
  }

  .create-tutorial__input {
    border: 1px solid #dddddd;
    font-size: 1.1em;
    background: white;
    width: 100%;

    &.input--selector {
      width: 127px;
    }

    &.create-tutorial__input--margin {
      line-height: normal;
    }

    &.create-tutorial__input--margin::placeholder {
      padding-top: 10px;
      font-size: 0.9em;
    }
  }

  .create-tutorial__input::placeholder {
    text-align: center;
    font-size: 0.8em;
    padding-left: 5px;
    opacity: 0.8;
  }

  .input__prefix--dollar {
    margin: 0 0 0 5px;

    p {
      font-size: 1rem;
    }
  }

  .create-tutorial-form__title__note--filled {
    color: #656565;
    font-size: 0.8em;
    margin-top: 5px;
  }

  .create-tutorial-form__title__note--clear {
    opacity: 0;
    margin-top: 5px;
  }

  .upload-btn {
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 0.9em;
    display: block;
    margin: 20px auto;
    border: none;

    &--cover {
      width: 300px;
      background-color: #b6d8e6;
    }

    &--files {
      border: solid 1px black;
      // background-color: inherit
      width: 239px;
    }

    &--images {
      width: 200px;
      background-color: #b6d8e6;
    }
  }

  .create-tutorial-infos__container-background {
    max-width: 1200px;
    display: block;
    background-color: #ededed;
    position: relative;
    padding: 40px 50px;

    .create-tutorial-infos__container {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: block;
      margin: auto 0;
      max-width: 500px;
    }

    .uploaded-file-name {
      color: #656565;
      font-size: 0.9em;
    }
  }

  .steps__container-background {
    margin: 40px auto;
    max-width: 500px;
  }

  .step__container {
    text-align: center;
    margin-top: 80px;

    .step__card {
      box-shadow: inherit;
      border: 1px solid #dddddd;
      border-radius: 0;
      margin-top: 1em;
      width: 100%;

      .step__header {
        background-color: #ffe495;
        height: 70px;

        .step-number {
          padding: 20px;
          font-weight: bold;
          color: black;
        }
      }

      .step__title {
        color: black;
        text-transform: uppercase;
        margin-top: 10px;
      }

      .step__description {
        margin: 20px 25px 30px;
      }

      .step__image {
        img {
          max-width: 600px;
        }
      }
    }

    .step-delete__button {
      cursor: pointer;
      height: 50px;
      width: 100%;
      border-top: 1px solid #dddddd;

      .trash-icon {
        vertical-align: text-top;
        background-image: url('../../../../assets/icons/bin-grey.svg');
        width: 18px;
        display: inline-block;
        height: 19px;
      }

      span {
        text-transform: uppercase;
        font-size: 0.8em;
        line-height: 50px;
        color: #9b9b9b;
        margin-left: 10px;
      }

      &:hover span {
        // opacity: 0.8;
        color: black;
      }

      &:hover .trash-icon {
        // opacity: 0.8;
        background-image: url('../../../../assets/icons/bin-black.svg')
      }
    }
  }

  .add-step__button {
    cursor: pointer;
    width: 300px;
    height: 90px;
    margin: 50px auto;
    background-color: #ffe495;
    border: none;
    display: block;

    img {
      vertical-align: text-top;
      margin-top: -7px;
    }

    span {
      text-transform: uppercase;
      font-size: 1.3em;
      line-height: 90px;
      color: black;
      margin-left: 10px;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .validate-form__button {
    width: 100%;
    height: 120px;
    background-color: #88e3c7;
    border: none;
    display: block;
    text-align: center;
    margin: 60px auto 40px;
    cursor: pointer;

    img {
      vertical-align: text-top;
      margin-top: -7px;
    }

    span {
      font-size: 1.4em;
      line-height: 120px;
      text-transform: uppercase;
      color: white;
      margin-left: 10px;
    }

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .tutorial-form label {
    margin-top: 1em;
  }

  .cover-img {
    width: 300px;
    display: block;
    margin: 20px auto;
  }

  .step-img {
    width: 300px;
    display: block;
    margin: 10px auto;
  }

  .icon-separator {
    margin-left: 8px;

    img {
      vertical-align: bottom;
      margin-top: 14px;
      margin-right: 10px;
      width: 20px;
    }
  }
}

.dialog-container {
  width: 403px;
  height: 72px;
}

.dialog-button__cancel {
  width: 112px;
  height: 60px;
  background-color: white !important;
  color: black;
  text-transform: uppercase;
  font-size: 1em;
}

.dialog-button__validate {
  width: 112px;
  height: 60px;
  background-color: #B6D8E6;
  color: black;
  text-transform: uppercase;
  border: none;
  font-size: 1em;
}

.dialog-buttons-container {
  justify-content: center !important;
}