@import "../../../../../node_modules/slick-carousel/slick/slick.css";
@import "../../../../../node_modules/slick-carousel/slick/slick-theme.css";

.slick-slider {
    width: 400px;
    margin: 0 auto;
}

.slick-dots {
    bottom: -20px;
}