#header {
  .header__content {
    display: flex;
    height: 6em;
    align-items: center;
    padding: 10px;
    background-color: white;
    color: black;
  }
  .header__logo-text {
    font-size: xx-large;
  }
  .header__logo-image {
    height: 4em;
    width: 4em;
    object-fit: cover;
    position: relative;
  }
  .header__nav-links {
    margin-left: 5em;
    flex: 1;
  }
  .header__avatar {
    cursor: pointer;
  }
  .profile__menu-container {
    display: flex;
    cursor: pointer;
    align-items: center;
  }

  .community-badge {
    background-color: #eb7475;
    color: white;
    padding: 5px;
    border-radius: 10px;
    position: absolute;
    width: 8em;
    left: -2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 3.5em;
    cursor: pointer;
  }
}
.nav-link {
  margin-right: 2em;
  text-decoration: none;
  color: black;
}
.nav-link.link-active {
  text-decoration: underline;
}
