@import "../../../../../node_modules/slick-carousel/slick/slick.css";
@import "../../../../../node_modules/slick-carousel/slick/slick-theme.css";
@import "../../../../../node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.tutorial-infos__container {
    max-width: 1200px;
    display: inline-block;
    background-color: rgb(240, 239, 239);
    width: 100%;
    margin: 30px auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 50px;

    .tutorial-infos__left {
        width: 50%;
        float: left;
        display: block;
        position: relative;
        height: 100%;

        .download-btn {
            width: 200px;
            height: 50px;
            text-transform: uppercase;
            background-color: rgba(4, 139, 180, 0.685);
            border: none;
            cursor: pointer;
            font-size: 0.9em;
        }

    }

    .tutorial-infos__right {
        width: 50%;
        // background-color: rgb(120, 153, 245);
        float: right;
        height: 100%;
        text-align: center;

        img {
            height: 360px;
        }
    }

    .tutorial-infos__content {
        padding: 0 50px 15px;

        p {
            margin: 10px 0;
        }

        .download-btn {
            .icon-separator {
                margin-right: 5px;
            }

            svg {
                vertical-align: bottom;
                margin-top: -6px;
            }
        }
    }

    .image-gallery-slides {
        text-align: center;
        margin-top: 20px;
    }

    .image-gallery-slide {
        background: grey;
    }

    .image-gallery-slide img {
        width: auto;
        height: 300px;
    }

    .image-gallery-content.fullscreen {
        .image-gallery-slide img {
            height: auto;
        }
    }
}

.step__container {
    text-align: center;

    .step__card {

        border-radius: 0;

        .step__header {
            background-color: rgba(255, 208, 0, 0.89);
            height: 50px;

            .step__number {
                padding: 10px;
                font-weight: bold;
                color: black;

            }
        }

        .step__title {
            color: black;
            text-transform: uppercase;
            margin-top: 10px;

        }

        .step__description {
            margin: 20px 25px 30px;
        }

        .step__image {
            img {
                max-width: 600px;
            }
        }
    }


}

.slick-slider {
    width: 400px;
    margin: 0 auto;
}

.slick-dots {
    bottom: -20px;
}