.App {
    /* text-align: center; */
}

.App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
    height: 140px;
}

.App-header {
    background-color: white;
    height: 150px;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid black;
}

.page-title {
    font-size: 1.5em;
    color: black;
}

.App-intro {
    font-size: large;
}
